<!DOCTYPE html>
<html lang='en'>
<meta charset="utf-8">
<div class = "QuizContainer">
    <div class = "container">
<head>
    <!--CSS FILES-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <!--JS FILES-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/learningModules.js')}}"></script>
 

    <title> Language Pro - Learn Goodbye</title>
    <!--icon bug-->
    <link rel="icon" href= "{{ url_for('static',filename='flag-icon.png') }}">
    <!-- Feature shins navbar up top-->
</head>
<body class = "moduleLearn">
    <div class = "wholeBar">
    <div class = "progress_bar2">
        <div id = "module2Bar">0%</div>
            <br>
    </div>
    </div>
    <div class = "wordLearn">
        <div class = "content" id = "content-1" name = "content" style = "display: block;">
       <h3><span class = "heading">Telling the Time In Spanish</span></h3>
        <br>
        <br>
        <p>
            Even though everybody has a cellphone these days, there will probably 
            come a moment in your life when you will need to ask someone what the time is.
        </p>
        </div>

        <div class = "content"id = "content-2" name = "content" >
            <h3><span class = "heading">Asking the Time</span></h3>
            <br>
            <p> 
                What time is it? (Literally "What hour is it?")
                <br>
                
                <button class = "sayWord" onclick="whatTimeIsIt.play()">¿Qué hora es?</button>
                <br>
                <br>
                Or, Do you have the time?
           
                <br>
                <button class = "sayWord" onclick="doYouHaveTheTime.play()">¿Tiene hora?</button>
            </p>
            
          
        </div>
        <div class = "content"id = "content-3" name = "content" >
            <h3><span class = "heading">How to say what the time is</span></h3>
            <br>
            
                <table style="width: 95%; ">
                    <tr>
                      <th>Spanish &nbsp &nbsp English </th>
                      
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsOneOClock.play()">Es la una</button>&nbsp It's one'o'clock </td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsTwoOClock.play()">Son las dos</button>&nbsp It's two'o'clock </td>
                        </tr>
                    <tr>
                        <td><button class = "tableWord"onclick="itsThreeOClock.play()"> Son las tres</button>&nbsp It's three'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class ="tableWord"onclick="itsFourOClock.play()">Son las cuatro</button>&nbsp It's four'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsFiveOClock.play()">Son las cinco</button>&nbsp It's five'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord"onclick="itsSixOClock.play()">Son las seis</button>&nbsp It's six'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord"onclick="itsSevenOClock.play()">Son las siete</button>&nbsp It's seven'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsEightOClock.play()">Son las ocho</button>&nbsp It's eight'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsNineOClock.play()">Son las nueve</button>&nbsp It's nine'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsTenOClock.play()">Son las diez</button>&nbsp It's ten'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsElevenOClock.play()">Son las once</button>&nbsp It's eleven'o'clock</td>
                    </tr>
                    <tr>
                        <td><button class = "tableWord" onclick="itsTwelveOClock.play()">Son las doce</button>&nbsp It's twelve'o'clock</td>
                    </tr>
                    </table>
            
        </div>
        <div class = "content"id = "content-4" name = "content" >
            <h3><span class = "heading">Time of Day</span></h3>
            <br>
            <p> 
                You might also hear:
                <br>
                It's noon / midday
                <br>
                <button class = "sayWord" onclick="itsNoon.play()">Es el mediodía</button>
                <br>
                <br>
                Or, It's midnight
                <br>
                <button class = "sayWord" onclick="itsMidnight.play()">Es la medianoche</button>
            </p>
            
        </div>
        
        <button onclick="unmove()"type = "button" class = "back" id = "button_slide slide_right">Back</button>
        
        <button onclick = "move()" type = "button" class = "next">Next</button>

    </div>
        
         <div class = "end">
            <h3><span class = "heading">Finished!</span></h3>
            <p>Lets test what you've learnt so far in this module</p>
            <br>
            
            <div class = "multiChoice">
                <p>
                <h4>The time is 16:00 and someone asks ¿Qué hora es?</h4>
                </p>
                <p>
                    
                    <input type ="radio" name ="question1" value = "0"/><button class = "testWord" onclick="itsTwelveOClock.play()">Hear in Spanish 1</button>
                    <input type ="radio" name ="question1" value = "0"/><button class = "testWord" onclick="itsSevenOClock.play()">Hear in Spanish 2</button>
                    <input type ="radio" name ="question1" value = "33.33"/><button class = "testWord" onclick="itsFourOClock.play()">Hear in Spanish 3</button>
                    <br>
                    
                    
                  
                </p>
                <p>
                <h4>Es el mediodía means midday or midnight?</h4>
                </p>
                <p>
                    
                    <input type ="radio" name ="question2" value = "33.33"/>Midday
                    <input type ="radio" name ="question2" value = "0"/>Midnight
                </p>
                <p>
                    <h4>What does this word translate to?</h4>
                    <button class = "sayWord" onclick="itsNineOClock.play()">Click Me! <br>Question 3</button>
                    <br>
                </p>
                <p>
                    <input type ="radio" name ="question3" value = "0"/>It's four'o'clock
                    <input type ="radio" name ="question3" value = "0"/>It's seven'o'clock
                    <input type ="radio" name ="question3" value = "33.33"/>It's nine'o'clock
                    <br>
                    
                </p>
                <form id = "form4" action = " ">
                    <input type = "submit" class = "showResults"value="Show Results">
                </form>
                   <p>Your score is: <span id="grade">__</span></p>
                   
       
            </div>
            <!-- /updateProgress/{{current_user.id}}/MODULE_NUMBER-->
            <form action = '/updateProgress/{{current_user.id}}/6' method = "POST" >
            <button id="sumbitButt" type = 'submit'  class = "next"  progress = "{{current_user.progress}}" >
                Finish</button>
            </form>
        </div>
   

</body>
</div>
</div>
</html>