@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.desc_module_page{
    text-align: center;
    font-size: 2em;
    padding: 2em;
    font-family: 'Lato';
}
.bodyModulePage{
    font-family:'Lato';
    
}

.container {
    max-width:1500px;
    margin:0 auto;
    padding:2em 0 2em 0;
  }
.accordion {
    position: relative;
    background-color:#00BFFF;
    font-weight: 700;
    padding:2em;
    display:block;
     
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    text-align: center;
    outline: none;
    font-size: 1.5em;
    transition: background-color 0.4s ease-in-out;
    border-bottom:1px solid;
    border-radius: 20px;
  }

  .active, .accordion:hover {
    background-color:#1E90FF;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    font-size: 1em;
    line-height:1.5em;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.2s ease-out;

    
  }
.module_title{
    height:auto;
    overflow:hidden; 
    max-height:50em;
    transition:max-height 1s;  

    text-align: center;
    font-weight: 700;
   
    color: #fff;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-style:solid; 
    border-color:#fff; 
    padding: 1em;
    border-width: medium;
    width:95%;
    background-color:#00BFFF;
    border-radius: 20px;    
    display:flex;
    justify-content:space-between;
   
  }

  .test{
    background-color: 	rgba(199,3,24,255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 150px;
    border: none;
    text-align: middle;
    outline: none;
    font-size: 50px;
    transition: 0.4s;
    border-radius: 50px;
  }
  .active, .test:hover {
    background-color: #1E90FF;

  }
  
  
.module_talk{
    
    font-size: 32px;
    text-align: center;
  }
.module_talk h3{
    text-align: center;
    font-style: oblique;
}

.start_button{
    /* button attributes */
 
   display: block;
   width:200px;
   height: 50px;
   line-height: 40px;
   font-size:1em;
   font-family: 'Lato';
   text-decoration: none;
   color:#fff;
  
   border-radius: 20px;
   background-color: #1E90FF;
   text-align: center;
   position: relative;
   transition: all .25s;
   
   cursor: pointer;
  }



  .start_button_text span{
    position: relative;
    z-index:2;
    
  }
  .start_button_text:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background-color:rgb(9, 216, 2);
    border-radius: 20px;
    transition: all .70s;
  }
  .start_button_text:hover{
    color: #fff;
  }
  .start_button_text:hover:after{
      width:100%;
  }
.progress_bar{
  background-color: grey;
  padding:3px;
  text-align: center;
  border-radius: 13px;
  position: relative;
  margin: auto;
}
/*All module bars that will be updated with progress*/
/*--------------------------------------------------*/
#moduleBar1{
  width: 0%;
  height:30px;
  background-color: rgb(9, 216, 2);
  border-radius: 10px;
  height:20px;
  text-align: center; /* To center it horizontally (if you want) */
  color: white;
  font-family: 'Lato';
}
#moduleBar2{
  width: 0%;
  height:30px;
  background-color: rgb(9, 216, 2);
  border-radius: 10px;
  height:20px;
  text-align: center; /* To center it horizontally (if you want) */
  color: white;
  font-family: 'Lato';
}
#moduleBar3{
  width: 0%;
  height:30px;
  background-color: rgb(9, 216, 2);
  border-radius: 10px;
  height:20px;
  text-align: center; /* To center it horizontally (if you want) */
  color: white;
  font-family: 'Lato';
}
#moduleBar4{
  width: 0%;
  height:30px;
  background-color: rgb(9, 216, 2);
  border-radius: 10px;
  height:20px;
  text-align: center; /* To center it horizontally (if you want) */
  color: white;
  font-family: 'Lato';
}
#moduleBar5{
  width: 0%;
  height:30px;
  background-color: rgb(9, 216, 2);
  border-radius: 10px;
  height:20px;
  text-align: center; /* To center it horizontally (if you want) */
  color: white;
  font-family: 'Lato';
}
#moduleBar6{
  width: 0%;
  height:30px;
  background-color: rgb(9, 216, 2);
  border-radius: 10px;
  height:20px;
  text-align: center; /* To center it horizontally (if you want) */
  color: white;
  font-family: 'Lato';
}

/*--------------------------------------------------*/
.images{

    max-width: 100%;
    
    height: auto;
    border: 0.5px solid #ddd;
    border-radius: 20px;
    
    
}
.images:hover {
    box-shadow: 5px 4px 10px grey;
  }
 
  /* Three image containers*/
.imgCol {
    flex: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .imgRow {
    display: flex;
  }
  .dests{
    Padding-left:275px;
  }
  .dests1{
    Padding-left:250px;
  }
  .main{
    
    padding:5em;
    
  }

  .wordLearn{
    width: 100%;
    text-align: center;
    font-size: 2em;
    
    font-family: 'Lato';
 
  }
  .wordLearn  .heading{
    border: 1px;
    border-style:solid; 
    border-color:black; 
    border-width: medium;
    padding: 30px;
    margin: 00px;   
    border-radius: 10px;
  }

  .wordLearn  .sayWord{
    padding: 50px;
    margin: 00px;   
    font-size: 1em;
    font-family: 'Lato';
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .content{
    display:none;
  }

  /* next and previous buttons*/
  .next {
    color: black;
    border: 2px solid rgb(9, 216, 2);
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(9, 216, 2);
    -webkit-transition: ease-out 1.0s;
    -moz-transition: ease-out 1.0s;
    transition: ease-out 1.0s;
    float: right;
  }
  .next:hover {
    box-shadow: inset 400px 0 0 0 rgb(9, 216, 2);
  }
  .back{
    display:none;
    color: black;
    border: 2px solid rgb(9, 216, 2);
    border-radius: 10px;
    padding: 18px 36px;
    
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(9, 216, 2);
    -webkit-transition: ease-out 1.0s;
    -moz-transition: ease-out 1.0s;
    transition: ease-out 1.0s;
    float: left;
  }
  .back:hover {
    box-shadow: inset -400px 0 0 0 rgb(9, 216, 2);
  }
  

  /*--------------------------*/


  .end{
    display:none;
  }
  #module2Bar{
    width: 0%;
    height:30px;
    background-color: rgb(9, 216, 2);
    border-radius: 10px;
    height:20px;
    text-align: center; /* To center it horizontally (if you want) */
    color: black;
    font-family: 'Lato';
}
.progress_bar2{
  background-color: black;
  padding:3px;
  text-align: center;
  border-radius: 13px;
  position: relative;
}
.wholeBar{
  margin: auto;
  width: 50%;
}

.imageForHolaMod{
  max-width: 100%;
  height:auto;
}
.imageForIntroduceMod{
  max-width: 100%;
  height:auto;
}
.end{
  width: 100%;
  text-align: center;
  font-size: 2em;
  
  font-family: 'Lato';

}
.end .heading{
  border: 1px;
  border-style:solid; 
  border-color:black; 
  border-width: medium;
  padding: 30px;
  margin: 00px;   
  border-radius: 10px;
}
.sayWordtestm1{
  width:"200";
  height:"200";

}
.multiChoice{
  margin-left: auto;
  margin-right: auto;
}

.img.left {float: left;}