@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.desc_module_page{
    text-align: center;
    font-size: 2em;
    padding: 2em;
    font-family: 'Lato';
}
.bodyModulePage{
    font-family:'Lato';
    
}
.main{
    
}
.container {
    max-width:1500px;
    margin:0 auto;
    padding:2em 0 2em 0;
  }
.accordion {
    position: relative;
    background-color:#38cc70; 
    font-weight: 700;
    padding:2em;
    display:block;
     
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    text-align: center;
    outline: none;
    font-size: 1.5em;
    transition: background-color 0.4s ease-in-out;
    border-bottom:1px solid;
    border-radius: 20px;
  }

  .active, .accordion:hover {
    background-color:#2fba64;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    font-size: 1em;
    line-height:1.5em;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.2s ease-out;

    
  }
.module_title{
    height:auto;
    overflow:hidden; 
    max-height:50em;
    transition:max-height 1s;  

    text-align: center;
    font-weight: 700;
   
    color: #fff;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-style:solid; 
    border-color:#fff; 
    padding: 1em;
    border-width: medium;
    width:95%;
    background-color:#38cc70;
    border-radius: 20px;    
    display:flex;
    justify-content:space-between;
  }

  .test{
    background-color: 	rgba(199,3,24,255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 150px;
    border: none;
    text-align: middle;
    outline: none;
    font-size: 50px;
    transition: 0.4s;
    border-radius: 50px;
  }
  .active, .test:hover {
    background-color:#2fba64;
  }
  
  
.module_talk{
    border: 1px solid #ddd;
    font-size: 32px;
    text-align: center;
  }
.module_talk h3{
    text-align: left;
    font-style: oblique;
}

.start_button{
    /* button attributes */
    
   display: block;
   width:200px;
   height: 100px;
   line-height: 40px;
   font-size:1em;
   font-family: 'Lato';
   text-decoration: none;
   color:#fff;
   border: 1px solid #ddd;
   border-radius: 20px;
   
   text-align: center;
   position: relative;
   transition: all .35s;
  }

  .start_button_text span{
    position: relative;
    z-index:2;
  }
  .start_button_text:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background-color:black;
    transition: all .35s;
  }
  .start_button_text:hover{
    color: #fff;
  }
  .start_button_text:hover:after{
      width:100%;
  }
.progress_bar{
        width: 100%;
        background-color: rgba(182,0,34,255);
}
#module1Bar{
    width: 0%;
    height:30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}

.images{

    max-width: 100%;
    
    height: auto;
    border: 0.5px solid #ddd;
    border-radius: 20px;
    
    
}
img:hover {
    box-shadow: 5px 4px 10px grey;
  }
 
  /* Three image containers*/
.imgCol {
    flex: 33.33%;
  padding: 5px;
  }
  
  /* Clear floats after image containers */
  .imgRow {
    display: flex;
  }
  .dests{
    Padding-left:275px;
  }
  .dests1{
    Padding-left:250px;
  }
  .main{
    border: 1px solid black;
  }

  .wordLearn{
    width: 100%;
    text-align: center;
    font-size: 2em;
    
    font-family: 'Lato';
 
  }
  .wordLearn  .heading{
    border: 1px;
    border-style:solid; 
    border-color:black; 
    border-width: medium;
    padding: 30px;
    margin: 00px;   
  }

  .wordLearn  .sayWord{
    padding: 100px;
    margin: 00px;   
  }