.quiz_page{
    background-color: #aa151b;
    font-family: cursive;
}

.start_button, .Information_box, .quiz_section, .quiz_result, .outerlayer-cert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

.Information_box.activeinformation, .quiz_section.activequiz, .quiz_result.activeresult, .outerlayer-cert.activecert{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
 
.start_button button{
    font-size: 30px;
    width: 230px;
    font-weight:600;
    color: rgb(122, 112, 250);
    border-radius: 15px;
    background-color: rgb(231, 239, 255);
    cursor: pointer;
}

.Information_box{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    background: rgb(231, 239, 255) ;
    border-radius: 15px;
}

.Information_box .Information_title{
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px dotted salmon;
}

.Information_box .Information_list{
    padding: 20px 35px; 
}

.Information_box .Information_list .information{
    padding: 5px;
    font-size: 20px;
}

.Information_box .Information_list .information span{
    font-weight: bold;
    color: red
    ;
}

.Information_box .buttons{
    padding: 30px;
    text-align: center;
    border-top: 3px dotted salmon;
}

.Information_box .buttons button{
    padding:5px;
    border-color: gray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.buttons button.exit_button{
    color:salmon;
    background: whitesmoke;
}

.buttons button.exit_button:hover{
    background: salmon;
    color: whitesmoke;
}

.buttons button.continue_button{
    color: salmon;
    background: whitesmoke;
}

.buttons button.continue_button:hover{
    background: salmon;
    color: whitesmoke;
}

.quiz_section{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    background: rgb(231, 239, 255);
    border-radius: 15px;
}

.quiz_section header{
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dotted red;
}

.quiz_section header .quiz_title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_section header .quiz_time{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    background: salmon;
    border-radius: 15px;
}

.quiz_section header .quiz_time .countdown{
    font-size: 15px;
    user-select: none;
    color: whitesmoke;
}

.quiz_section header .quiz_time .second{
    font-size: 16px;
    background: tomato;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    user-select: none;
    color: whitesmoke;
}

.quiz_section section{
    padding: 20px 35px;
}

.quiz_section section .quiz_question{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    ;
}

.quiz_section section .quiz_options{
    padding: 20px;
    display: block;
}

.quiz_section section .quiz_options .option{
    background: whitesmoke;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.quiz_section section .quiz_options .option:last-child{
    margin-bottom: 0px;
}

.quiz_section section .quiz_options .option:hover{
    color: whitesmoke;
    background: tomato;
}

.quiz_section section .quiz_options .option .icon{
    border-radius: 80%;
    border: 1px solid;
    text-align: center;
    width: 20px;
    pointer-events: none;
}

.quiz_section section .quiz_options .option .icon.tick{
    color: green;
    border-color:green;
    background-color: rgb(143, 216, 143);
}

.quiz_section section .quiz_options .option .icon.cross{
    color: red;
    border-color:red;
    background-color: rgb(248, 185, 185);
}

.quiz_section section .quiz_options .option.correct{
    background: lightgreen;
}

.quiz_section section .quiz_options .option.incorrect{
    background: rgb(250, 160, 160);
}

.quiz_section section .quiz_options .option.nomoreoptions{
    pointer-events: none;
}

.quiz_section footer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_section footer .quiz_remaining span{
    display:flex;
    align-items: center;  
    user-select: none; 
    font-size: 20px;
}

.quiz_section footer .quiz_remaining span p{
    font-weight: bold;
    padding: 3px;
}
 
.quiz_section footer .next_button{
    display: none;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    background: salmon;
    border-radius: 5px;
    cursor: pointer;
    color:whitesmoke;
}

.quiz_section footer .next_button:hover{
    background: rgb(250, 67, 47);
}

.quiz_result{
    background: rgb(231, 239, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_result .completed{
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

.quiz_result .score span{
    margin: 10px;
    font-size: 15px;
    display: flex;
}

.quiz_result .score span a{
    font-weight: bold;
    padding: 0 5px;
} 

.quiz_result .buttons{
    display: flex;
    padding: 10px;
}

.quiz_result .buttons button{
    padding: 5 10px;
    font-size: 15px;
    margin: 0 8px;
    border-radius: 5px;
    cursor: pointer;
}

.outerlayer-cert{
    margin: auto;
    width: max-content;
    height: 650px;
    padding: 30px;
    border: 10px solid goldenrod;
    text-align: center;
    background: gold;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.innerlayer-cert{
    margin: auto;
    width:max-content;
    height: 570px; 
    padding: 30px; 
    text-align:center; 
    border: 5px dotted goldenrod;
    border-radius: 30px;
}

.firstline-cert{
    font-weight: bold;
    font-size: 70px;
    font-family: 'Dancing Script';
}

.name-cert{
    font-weight: bold;
    font-size: 50px;
}

.wording-cert{
    font-style: italic;
    font-size: 25px;
    padding: 20px;
}

.mark-cert{
    font-size: 25px;
    padding: 10px;
}

.mark-cert a{
    font-weight: bold;
    font-size: 30px;
}

.date-cert{
    font-size: 30px;
}

.word-dated{
    font-style: italic;
    font-size: 25px;
}