<!-- This is the base that will be inherited by the other html pages using JINJA  -->
<!DOCTYPE html>
<html lang='en'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href ='https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap'>
    <!-- alert bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="{{ url_for('static',filename='/js/homepage_scripts.js') }}"></script>

</head>

<body>
    <div class="topnav" id=newTopnav>
        <a href="javascript:void(0);" class="icon" onclick="burger()"><i class="fa fa-bars"></i></a>
        {% if current_user.is_anonymous %}
        <div class="logo"><a href="index">LANGUAGE PRO</a></div>
        <div class="myTopnav">
            <a href="login">Login</a>
            <a href="signUp">Sign Up</a>
            <a href="index#about">About</a>
            <a href="module_page">Module</a>
        </div>
        {% else %}
        <h4 id=hiUser>Hi, {{ current_user.firstname }}!</h4>
        <div class="logo logoCenter"><a href="index">LANGUAGE PRO</a></div>
        <div class="myTopnav">
            <a href="index#about">About</a>
            <a href="module_page">Modules</a>
            <a href="logout">Log Out</a>
        </div>
        {% endif %}
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories = true ) %}
        {% if messages %}
            {% for category,  message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
   
    {% block content %}{% endblock %}

    <footer>
        <h1>SPANISH QUOTE OF THE DAY</h1><br>
        <p id="sentence"></p><br>
        <button onclick="sentenceNew()">GET A NEW SLANG!</button>
    </footer>
</body>

</html>