<!-- This is the base that will be inherited by the other html pages using JINJA  -->
<!DOCTYPE html>
<html lang='en'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src= "{{ url_for('static',filename='homepage_scripts.js') }}"></script>
    
    <!-- QUIZ JS AND CSS SCRIPS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='quiz_style.css') }}">
    <!-- <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'> -->
</head>

<body>
    <!-- <div class = "topnav" id = newTopnav>
        <div class = "logo"><a href="index">LANGUAGE PRO</a></div>
        {% if current_user.is_anonymous %}
            <div class ="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="burger()"><i class="fa fa-bars"></i></a>
                <a href="loginTest">Login</a>
                <a href="signupPage2">Sign Up</a>
                <a href="#about">About</a>   
                <a href="module_page">Module</a>       
            </div> 
            {% else %}
                <a href="{{ url_for('user', firstname=current_user.firstname)}}">Profile</a>
                <a href="module_page">Modules</a>
                <a href="logout">Log Out</a>
            </div>
            <h4 id= hiUser>Hi, {{ current_user.firstname }}!</h4>
        </div>
        {% endif %}
    </div> -->
    <div class = "topnav" id = newTopnav>
        <a href="javascript:void(0);" class="icon" onclick="burger()"><i class="fa fa-bars"></i></a>

        {% if current_user.is_anonymous %}
        <div class = "logo"><a href="index">LANGUAGE PRO</a></div>
        <div class ="myTopnav">
            <a href="loginTest">Login</a>
            <a href="signupPage2">Sign Up</a>
            <a href="index#about">About</a>   
            <a href="module_page">Module</a>       
        </div> 
        {% else %}
        <h4 id= hiUser>Hi, {{ current_user.firstname }}!</h4>
        <div class = "logo logoCenter"><a href="index">LANGUAGE PRO</a></div>
        <!-- <a href="javascript:void(0);" class="icon" onclick="burger()"><i class="fa fa-bars"></i></a> -->
        <div class ="myTopnav">
            <a href="module_page">Modules</a>
            <a href="logout">Log Out</a>
        </div>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

    <footer>       
        <h1>SPANISH SLANG OF THE DAY</h1><br>             
        <p id="sentence"></p><br>
        <button onclick="sentenceNew()">GET A NEW SLANG!</button>
    </footer>
</body>
</html>