<!--homepage is index.html-->
<!DOCTYPE html>
<html lang='en'>
<meta charset="utf-8">
<head>
    <!-- Bootstrap Link  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" crossorigin="anonymous">

    <!--CSS Link-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Langauge Pro</a>
            </div>
            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li class="link-LogInPage"><a href="loginPage">Login</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="module_page">Module Page</a></li>
                    <li><a href="">Log In</a></li>
                    <li><a href="">Contact</a></li>
                    
                </ul>
            </div>
            
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="home">
    </section>
</head>

<body>
    <p>This do be the body of the homePage</p>
    <img id = "spanish Pic" src = "/static/spanish.jpg" alt="Spanish picture"/>
</body>

</html>